#banner {
    background-color: #FFE8E8;
}

#banner-heading{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(35, 3, 72)
} 

#banner-button{
    border-radius: 0px;
    margin-top: 10px;
}

#banner-button:hover{
    background-color: #FF003C;
    border-color: #FF003C;
    
}

.hov{
    visibility: hidden;
    padding-top: 10px;
    
}

.ucard{
    border : 0px;
    border-bottom: 2px solid #FF003C;
    border-radius: 0px;
    padding-bottom: 0px;
}

.ucard :hover + .hov{
    visibility: visible;
    background-color: #FF003C;
    padding-top: 10px;
    padding-bottom: auto;
    color: White;
}

.ucard-red{
    background-color: #FF003C;
}

.large-font{
    font-size: 50px;
}


.button{
    border-radius: 0px;
    margin-top: 10px;
}

.button:hover{
    background-color: #FF003C;
    border-color: #FF003C;
    
}